

<div class="container-sm" style="text-align: center;">
    <table class="table table-bordered table-warning" >
        <tbody style="text-align: center;">
            <tr>
               <td>Employee Id:</td>
               <td>{{employeeobj.id}}</td>
            </tr>
            <tr>
                <td>Employee empname</td>
                <td>{{employeeobj.empname}}</td>
             </tr>
             <tr>
                <td>Employee Email</td>
                <td>{{employeeobj.email}}</td>
             </tr>
             <tr>
                <td>Employee Designation</td>
                <td>{{employeeobj.designation}}</td>
             </tr>
             <tr>
                <td>Employee mobno.</td>
                <td>{{employeeobj.mobno}}</td>
             </tr>
             <tr>
                <td>Employee Username.</td>
                <td>{{employeeobj.username}}</td>
             </tr>
             <tr>
                <td>Employee Password</td>
                <td>{{employeeobj.password}}</td>
             </tr>
        </tbody>
    </table>    
</div>